# Core Framework
django
djangorestframework
psycopg2-binary
celery
redis
django-apscheduler

# Data & ML
yfinance
pandas
numpy
pandas-ta
scikit-learn
tensorflow
statsmodels
spacy

# Web Scraping & HTTP Requests
requests
beautifulsoup4
selenium

# Utilities
python-dotenv
